blue,
.blue {
  color: #3498DB;
}

purple,
.purple {
  color: #9B59B6;
}

green,
.green {
  color: #1ABB9C;
}

.aero {
  color: #9CC2CB;
}

red,
.red {
  color: #E74C3C;
}

dark,
.dark {
  color: #34495E;
}

.border-blue {
  border-color: #3498DB !important;
}

.border-purple {
  border-color: #9B59B6 !important;
}

.border-green {
  border-color: #1ABB9C !important;
}

.border-aero {
  border-color: #9CC2CB !important;
}

.border-red {
  border-color: #E74C3C !important;
}

.border-dark {
  border-color: #34495E !important;
}

.bg-white {
  background: #fff !important;
  border: 1px solid #fff !important;
  color: #73879C;
}

.bg-green {
  background: #1ABB9C !important;
  border: 1px solid #1ABB9C !important;
  color: #fff;
}

.bg-red {
  background: #E74C3C !important;
  border: 1px solid #E74C3C !important;
  color: #fff;
}

.bg-blue {
  background: #3498DB !important;
  border: 1px solid #3498DB !important;
  color: #fff;
}

.bg-orange {
  background: #F39C12 !important;
  border: 1px solid #F39C12 !important;
  color: #fff;
}

.bg-purple {
  background: #9B59B6 !important;
  border: 1px solid #9B59B6 !important;
  color: #fff;
}

.bg-blue-sky {
  background: #50C1CF !important;
  border: 1px solid #50C1CF !important;
  color: #fff;
}