<!-- top navigation -->
<div class="top_nav">

    <div class="nav_menu">
        <nav class="" role="navigation">
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            <ul class="nav navbar-nav">
                <li>
                    <div class="title_left">
                        <h3>
                            Lista de e-mails
                            <small>
                                Listagem de e-mails por usuário
                            </small>
                        </h3>
                    </div>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li class="notification-badge">
                    <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
                        <i class="fa fa-bell"></i>
                        <span class="badge bg-green">3</span>
                    </a>
                    <ul class="dropdown-menu notifications-list">
                        <li class="pointer">
                            <div class="pointer-inner">
                                <div class="arrow"></div>
                                <div class="arrow-border"></div>
                            </div>
                        </li>
                        <li class="item-header">Você possui 3 notificações</li>
                        <li class="item">
                            <a href="#">
                                <i class="fa fa-comment"></i>
                                <span class="content">Nova resposta enviada</span>
                                <span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
                            </a>
                        </li>
                        <li class="item">
                            <a href="#">
                                <i class="fa fa-envelope"></i>
                                <span class="content">345 novos e-mails</span>
                                <span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
                            </a>
                        </li>
                        <li class="item">
                            <a href="#">
                                <i class="fa fa-eye"></i>
                                <span class="content">Novo e-mail monitorado!</span>
                                <span class="time"><i class="fa fa-clock-o"></i>13 min.</span>
                            </a>
                        </li>
                        <li class="item-footer">
                            <a href="#">
                                Ver todas as notificações
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="">
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        <img src="images/img.jpg" alt="">Hilton Jr.
                        <span class=" fa fa-angle-down"></span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

</div>
<!-- /top navigation -->