<div class="navbar nav_title" style="border: 0;">
    <a href="index.html" class="site_title">
        <img src="images/logo.png">
    </a>
</div>
<div class="clearfix"></div>

<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">

    <div class="menu_section">

        <h3>Menu</h3>

        <ul class="nav side-menu">
            <li><a><i class="fa fa-desktop"></i> Monitor <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu" style="display: none">
                    <li><a href="#">E-mails</a>
                    </li>
                    <li><a href="#">Documentos</a>
                    </li>
                </ul>
            </li>
            <li><a><i class="fa fa-search"></i> Pesquisa <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu" style="display: none">
                    <li><a href="#">Genérica</a>
                    </li>
                    <li><a href="#">Estruturada</a>
                    </li>
                </ul>
            </li>
            <li><a><i class="fa fa-bar-chart-o"></i> Relatórios <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu" style="display: none">
                    <li><a href="#">E-mail transacionados</a>
                    </li>
                    <li><a href="#">Relacionamentos</a>
                    </li>
                    <li><a href="#">Estatística de uso</a>
                    </li>
                    <li><a href="#">Maiores incidências</a>
                    </li>
                </ul>
            </li>
            <li><a><i class="fa fa-cog"></i> Utilitários <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu" style="display: none">
                    <li><a href="#">Palavras-chaves</a>
                    </li>
                    <li><a href="#">Domínios</a>
                    </li>
                    <li><a href="#">Enviar e-mail</a>
                    </li>
                </ul>
            </li>
            <li><a><i class="fa fa-life-ring"></i> Ajuda <span class="fa fa-chevron-down"></span></a>
                <ul class="nav child_menu" style="display: none">
                    <li><a href="#">Documentação</a>
                    </li>
                    <li><a href="#">Tour</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class="menu_section">
        <h3>Usuários disponíveis</h3>
        <ul class="nav side-menu">
            <li>
                <a><i class="fa fa-envelope"></i> Afonso França</a>
            </li>
            <li>
                <a><i class="fa fa-envelope"></i> Rodrigo Rodrigues</a>
            </li>
            <li>
                <a><i class="fa fa-envelope"></i> Thiago Sciotta</a>
            </li>
        </ul>
    </div>

</div>