<div class="right_col" role="main">
    <div class="">

        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Afonso França <small>afonso.franca@gmail.com</small></h2>

                        <div class="btn-group bulk-actions">
                            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                                <span class="action-cnt"></span> <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu dropdown-menu-right" role="menu">
                                <li><a href="#"><i class="fa fa-tag"></i>  Categorizar</a></li>
                                <li><a href="#"><i class="fa fa-inbox"></i> Arquivar</a></li>
                                <li><a href="#"><i class="fa fa-trash"></i> Excluir</a></li>
                            </ul>
                        </div>
                        <div class="clearfix"></div>
                    </div>

                    <div class="x_content">

                        <table class="table table-striped responsive-utilities jambo_table bulk_action">
                            <thead>
                            <tr class="headings">
                                <th>
                                    <i-check ng-model="checkbb" />
                                </th>
                                <th class="column-title">Assunto </th>
                                <th class="column-title">Tipo </th>
                                <th class="column-title">Data e hora </th>
                                <th class="column-title">Anexos </th>
                                <th class="column-title no-link last"><span class="nobr">Ações</span>
                                </th>
                            </tr>
                            </thead>

                            <tbody>
                            <tr class="even pointer">
                                <td class="a-center"><i-check ng-model="checkbb" /></td>
                                <td class=" ">Parceria Licitação</td>
                                <td class=" ">Enviado</td>
                                <td class=" ">15/09/2015 - 17:35</td>
                                <td class=" "><i class="fa fa-paperclip"></i> 6</td>
                                <td class=" last"><a href="#">View</a></td>
                            </tr>

                            <tr class="odd pointer">
                                <td class="a-center"><i-check ng-model="checkbb" /></td>
                                <td class=" ">Proposta Consórcio 1992/2015</td>
                                <td class=" ">Recebido em cópia</td>
                                <td class=" ">15/09/2015 - 14:38</td>
                                <td class=" ">-</td>
                                <td class=" last"><a href="#">View</a></td>
                            </tr>

                            <tr class="odd pointer">
                                <td class="a-center"><i-check ng-model="checkbb" /></td>
                                <td class=" ">TST - Ação trabalhista - Urgente</td>
                                <td class=" ">Encaminhado</td>
                                <td class=" ">15/09/2015 - 11:29</td>
                                <td class=" "><i class="fa fa-paperclip"></i> 4</td>
                                <td class=" last"><a href="#">View</a></td>
                            </tr>

                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>